/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ef4d62;
  --color-light: #fff;
  --color-dark: #111;

  /* accents */
  --color-accent-100: #ec4899;
  --color-accent-200: #f04e62;
  --color-accent-300: #352a58;

  font-family: "Noto Sans", sans-serif;
}
